mixin grid_item__content(params)
  .grid_item__content(class= `${params.content_mod && `grid_item__content--${params.content_mod}`} ${params.img_mod && `grid_item__content--${params.img_mod}`}`)
    .grid_item__content_in(class= params.content_mod && `grid_item__content_in--${params.content_mod}`)
      if params.item.mark
        .grid_item__mark(class= params.content_mod && `grid_item__mark--${params.content_mod}`)= params.item.mark
    
      .grid_item__header(class= params.item_header_mod && `grid_item__header--${params.item_header_mod}`)
        a.grid_item__tag_link(class= `grid_item__tag_link--${params.color_tag_mod}` href='#')= params.item.tag

        if params.item.author
          - text = params.item.accentMod == 'accent1_mod' ? params.item.author : params.authorTitle + params.item.author;
          .grid_item__author(class= params.item_header_mod && `grid_item__author--${params.item_header_mod}`)= text
        else 
          .grid_item__icon_tagging_w: +icon('icon_tagging', 'icon_tagging')
        
      h3.grid_item__title.jsGridItemTitle(class= `grid_item__title--${params.font_size_mod}`)
        a.grid_item__link(href='#')!= params.item.title
      
      if params.item.descr
        .grid_item__descr= params.item.descr 
      
      if params.item.date
        .grid_item__date_wrap
          .grid_item__date= params.item.date
          .grid_item__time= params.item.time
