mixin grid_item__content(params)
  .grid_item__content_wrap(class= `grid_item__content_wrap--${params.look_mod} grid_item__content_wrap--${params.img_mod}`)
    .grid_item__content(class= `grid_item__content--${params.look_mod}`)
      .grid_item__content_in(class= `grid_item__content_in--${params.look_mod}`)

        if params.item.accent_look
          +btn_video(params.item)
        
        //- mark
        if params.item.mark
          span.grid_item__mark(class= `grid_item__mark--${params.look_mod}`)= params.item.mark
      
        //- item header
        if !params.item.accent_look
          .grid_item__header(class= `grid_item__header--${params.item_header_mod} grid_item__header--${params.look_mod}`)
            a.grid_item__tag_link(class= `grid_item__tag_link--${params.color_tag_mod} grid_item__tag_link--${params.look_mod}` href='#')= params.item.tag

            if params.item.author
              .grid_item__author(class= `grid_item__author--${params.look_mod}`)= (params.item.accent_look ? params.item.author : params.word_author + params.item.author)
            else 
              .grid_item__icon_tagging_w
                +icon('icon_tagging', 'icon_tagging')
        else 
          span.grid_item__author(class= `grid_item__author--${params.look_mod}`)= (params.item.accent_look ? params.item.author : params.word_author + params.item.author)
            
        //- title
        h3.grid_item__title(class= `grid_item__title--${params.font_size_mod} grid_item__title--${params.look_mod}` )
          a.grid_item__link(href='#' class= `${params.item.accent_look && 'js-grid_item__title_link'}`)!= params.item.title
        
        //- description
        .grid_item__descr(class= `grid_item__descr--${params.look_mod}`)= params.item.descr
        
        //- date
        if params.item.date
          .grid_item__date_wrap(class= `grid_item__date_wrap--${params.look_mod}`)
            .grid_item__date= params.item.date
            .grid_item__time= params.item.time
