mixin item_grid(i_data, index)
  .item_grid(class= `item_grid--position_${index + 1}_mod`)
    .item_grid_wrap
      .item_grid_in 
        span.index= `${index + 1}`
        //- a.item_grid__img
        //-   +picture({
        //-     img: i_data.img,
        //-     class: 'section_bg',
        //-     img_class: 'section_bg__img',
        //-   })
        
        .item_grid__context
          .item_grid__status= i_data.status
          
          .item_grid__top_context
            .item_grid__tag
              a.item_grid__tag_link(href='#')= i_data.tag
            .item_grid__author= i_data.author
          
          .item_grid__title= i_data.title
            a.item_grid__tag_link(href='#')= i_data.title
          
          .item_grid__descr= i_data.descr 
          
          .item_grid__date_added_w
            .item_grid__date= i_data.data
            .item_grid__time= i_data.time
